.chatMessage__messageBox
  .chatMessage__messageBox__info
    .chatMessage__messageBox__info__user
      = message.user.name
    .chatMessage__messageBox__info__datetime
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  %p.chatMessage__messageBox__text
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'chatMessage__messageBox__image' if message.image.present?