.chatSide
  .sideHeader
    .sideHeader__item
      .sideHeader__item__userName
        masa
      %ul.sideHeader__item__icons
        %li.sideHeader__item__icons__icon
        = link_to "#" do
          = icon('fa','edit')
        %li.sideHeader__item__icons__icon
        = link_to "#" do
          = icon('fa','cog')
  .groups
    .group
      .group__groupName
        techcamp
      .group__groupMessage
        まだメッセージがありません

    .group
      .group__groupName
        techexpert
      .group__groupMessage
        test
